* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.header {
    font-size: 1.5rem;
    font-weight: 500;
    color: hsl(212, 27%, 19%);
    margin-top: 100%;
    margin-bottom: hsl(228, 45%, 44%);
    text-align: center;
    
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}